
@media only screen and (max-width: 1400px) {
	.circle, .postworkout .recete .circle, section.servizio .circle-yellow {
		width: 100%;
	}
	.circle.left-img .img-wrapper img {
		max-width: 90%;
	}

	.palestre .circle {
		height: auto;
	}

	.palestre section.servizio .circle.right-img {
		margin-left: 0%;
	}

	.home .circle-blue{
		margin-left: -50px;
	}
	.home .post-workout .text-wrapper {
		right: -70px;
	}
}

/*Tablet version*/
@media only screen and (max-width: 1200px) {
	/* home */
	.post-workout .img-wrapper {
		left: -28px;
	}
	.home .circle {
		width: 100%;
	}
	.home .circle-blue {
		margin-left: -30px;
	}
	.home .post-workout .text-wrapper {
		display: none;
	}
	.home .circle.left-img .img-wrapper img {
		max-width: 90%;
	}
	.home .full-background {
		margin-top: 300px;
	}
	.box-post {
		width: 50%;
	}
	.carousel-layer-arrow {
		bottom: 30px
	}
	.carousel-round-box {
		bottom: 20px;
	}
	/* end home */
}

@media only screen and (max-width: 991px) {
	/* home */
	.home .circle-blue{
		margin-left: 0;
	}
	.carousel-round-box {
		bottom: 22px;
	}
	.carousel-layer-arrow {
		bottom: 65px;
	}
	.home .carousel-caption h3 {
		font-size: 50px;
		line-height: 60px;
	}
	.home section.intro h2 {
		text-align: center;
		line-height: 56px;
	}
	.home section.intro .col-md-3>img {
		display: block;
		margin: auto;
		margin-bottom: 20px;
		width: 130px;
	}
	.home section.intro .tips h3, section.intro .tips p, .block-text {
		text-align: center;
	}
	.home .post-workout .col-md-4 {
		padding-top: 80px;
	}
	.home section.post-workout .col-md-8 .circle-blue {
		margin-top: 70px;
	}
	.home .post-workout .img-wrapper {
		top: 100px;
		left: 0;
	}
	.home .full-background {
		margin-top: 150px;
		min-height: 310px;
	}
	.home section.post-workout .img-responsive {
		margin: auto;
	}
	/* end home */

	/* postworkout */
	.postworkout h2 {
		font-size: 28px;
		line-height: 36px;
	}
	.postworkout .recete .tips>.row, .block-text2 {
		text-align: center;
	}
	.postworkout .recete .tips p, section p {
		max-width: 100%;
	}
	section.product-prepare .col-sm-6 {
		width: 100%;
		text-align: center;
	}
	.table-products .product-name {
		margin-top: -80px;
	}
	.table-products .item-product img {
		margin-left: -15px;
	}
	/* end postworkout */

	/* azienda */
	section.testimonial .block-text {
		margin: 50px 0 80px 0;
	}
	/* end azienda */

	/* palestre */
	.palestre section.intro {
		margin-top: -70px;
	}
	.palestre .circle.circle-yellow.left-img, .palestre .circle.circle-yellow.right-img {
		display: none;
	}
	.palestre .distributori-box-background {
		margin-top: 115px;
	}
	/* end palestre */
}

@media only screen and (max-width: 768px) {
	section.distributori .block-text {
		margin-left: 0;
	}
	.carousel-round-box {
		bottom: 26px;
	}
	.carousel-layer-arrow {
		bottom: 80px;
	}
	/* home */
	.home .carousel-round-box {
		right: 0;
		left: 0;
		margin: auto;
	}
	.home .post-workout .img-wrapper {
		right: 20%;
	}
	.home .full-background {
		margin-top: 40px;
	}
	.home .carousel-round-box {
		width: 350px;
		height: 350px;
	}
	.home .carousel-caption h3 {
		font-size: 38px;
		line-height: 46px;
		max-width: 90%;
	}
	.blog-icon .svg {
		max-width: 145px;
	}
	.blog-icon>h4 {
		font-size: 28px;
	}
	.box-post:hover .blog-mask {
		background-color: transparent;
	}

	footer .list-group {
		margin-top: 20px;
	}
	.carousel-layer-white {
		bottom: -33px;
	}
	/* end home */

	/* azienda */
	.azienda .banner-background {
		margin-bottom: -130px;
	}
	.show-mobile {
		display: block;
	}
	.hide-mobile {
		display: none;
	}
	.azienda .show-mobile .circle-yellow {
		width: 65%;
		padding-top: 65%;
		display: block;
		margin: auto;
	}
	.azienda .show-mobile section.testimonial .block-text {
		margin: 15px 0;
	}
	.azienda .show-mobile section.testimonial {
		margin-bottom: 40px;
	}
	/* end azienda */

	/* contatti */
	.contatti section p {
		max-width: 100%;
	}
	.banner-layer-white {
		background-size: cover;
	}
	section.section-contatti {
		margin-top: -100px;
	}
	.contatti section.section-contatti h4, .contatti section p {
		margin-top: 0;
		padding-bottom: 10px;
		text-align: center;
	}
	.contatti .section-contatti .img-responsive {
		margin: auto;
		margin-top: 40px;
	}
	section.section-contatti .chi-siamo>p {
		margin-top: 20px;
	}
	section.section-contatti .section-button, section.product .row, .postworkout h2, section.banco .block-text {
		text-align: center;
	}
	/* end contatti */


	/* postworkout */
	.table-products-filter .product-type-wrapper .item-type .type-name {
		font-size: 12px;
	}
	.table-products .product-name {
		margin-top: -40px;
	}
	.table-products .item-product {
		width: 50%;
	}
	.product .circle  img {
		bottom: 50px;
	}
	.table-products .product-name {
		margin-top: -125px;
	}
	.table-products-filter, .logo-mobile {
		display: block;
	}
	.table-products-filter .filter-text h2 {
		border-top: 2px dashed #000;
	}
	.table-products-filter .image-button {
		border-right: none;
	}
	.table-products-filter .image-button {
		width: 100%;
	}
	/* end postworkout */

	section.intro {
		margin-top: 50px;
	}

	.box-post {
		min-height: auto;
		padding: 0 5px;
	}
	.blog-inside {
		padding-top: 15px;
	}
	.blog1,.blog2,.blog3,.blog4,.blog-mask {
		background: none;
		box-shadow: none;
	}
	.blog-icon>h4 {
		font-size: 22px;
		color: #000;
		margin: 5px 0;
	}
	.blog-icon>p {
		max-width: 100%;
		font-size: 16px;
		color: #000;
		margin: 5px 0 10px 0;
	}
	.blog-icon>svg {
		max-width: 110px;
		fill: #000;
	}
	.box-post:hover .blog-icon>h4, .box-post:hover .blog-icon>p, .box-post:hover .blog-icon>svg {
		color: #36A9E0;
		fill: #36A9E0;
	}

	/* palestre */
	.palestre section.distributori .distributori-box-background {
		width: 70%;
		padding-top: 70%;
		margin: 80px auto 50px auto;
	}
	.palestre section.associazioni h3 {
		margin-top: 80px;
	}
	/* end palestre */
	footer {
		margin-top: 100px;
	}

	/* menu */
	.navbar {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 999999;
		height: 70px;
	}
	.navbar-brand {
		padding: 10px;
	}
	.navbar-brand > img {
		width: 125px;
	}
	.navbar-default .navbar-toggle {
		border: none;
		margin-top: 15px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #236960;
	}
	.navbar-toggle .icon-bar {
		width: 30px;
		height: 5px;
		margin-bottom: 6px;
	}
	.navbar-collapse.collapse.in {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 9999999;
		background-color: #FBC700;
	}
	/* end menu */
}

@media only screen and (max-width: 425px) {
	.carousel-layer-white {
		bottom: -83px;
	}
	.home .carousel-caption h3 {
		font-size: 32px;
		line-height: 38px;
	}
	.home .carousel-round-box {
		width: 260px;
		height: 260px;
	}
	.post-workout-scopriMenu>.container>h4, .home section.intro h2 {
		font-size: 28px;
		line-height: 36px;
	}
	.scopri {
		font-size: 16px;
		padding: 10px 15px;
	}
	.home section.intro .tips, .post-workout-scopriMenu>.container>p {
		margin-top: 50px;
	}
	.home .post-workout .img-wrapper {
		top: 27px;
	}
	.home .full-background {
		margin-bottom: 50px;
	}
	.circle {
		height: auto;
	}

	.table-products .product-name {
		margin-top: -80px;
	}
	.palestre .banner-background {
		height: 360px;
	}
	section.intro h3, section.associazioni h3 {
		font-size: 36px
	}
	footer {
		margin-top: 70px;
	}
}

@media only screen and (max-width: 320px) {
	.home .carousel-round-box {
		width: 240px;
		height: 240px;
	}
	.scopri {
		font-size: 15px;
		padding: 8px 10px;
	}
	.box-post {
		width: 100%;
	}
	.blog-icon>p {
		margin: 0 5px;
		max-width: 100%;
	}
	.blog-inside {
		margin-bottom: 15px;
	}
	.carousel-round-box {
		bottom: 28px;
	}
	.table-products-filter .product-type-wrapper {
		display: block;
	}
	.table-products-filter .product-type-wrapper .item-type {
		border: none;
	}
}