$rf: 'ralewayregular', sans-serif;
$rbf: 'RalewayBold', sans-serif;
$mf: 'Myriad Pro', sans-serif;
$cf: 'cinematograficabold', sans-serif;

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/raleway/Raleway-Bold.eot');
    src: url('../fonts/raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-Bold.woff') format('woff'),
        url('../fonts/raleway/Raleway-Bold.ttf') format('truetype'),
        url('../fonts/raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'cinematograficabold';
    src: url('../fonts/cinematografica/cinematografica-bold-trial-webfont.woff2') format('woff2'),
         url('../fonts/cinematografica/cinematografica-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myryadPro/MyriadPro-Regular.eot');
    src: url('../fonts/myryadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myryadPro/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/myryadPro/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/myryadPro/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/myryadPro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}